<div class="container">
  <h1><%= @restaurant.name %></h1>
  <ul>
    <li>Type of food : <%= @restaurant.category %></li>
    <li>Address : <%= @restaurant.address %></li>
    <li>Phone number : <%= @restaurant.phone_number %></li>
  </ul>
</div>

<div class="container">
  <p><strong>Reviews</strong></p>
  <ul class="list-group">
    <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item "><strong>Rating : <%= review.rating %> /5</strong> <br> <%= review.content %></li>
    <% end %>
  </ul>
</div>

<%# <div class="container">
  <%= link_to "Add a review", new_restaurant_review_path(@restaurant), class:"btn btn-outline-primary" %>
<%# </div> %>

<div class="container">
  <h2>New review</h2>
  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :rating, :collection => [1, 2, 3, 4, 5]%>
    <%= f.input :content, :as => :text, :input_html => { 'rows' => 5, 'cols' => 10 } %>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
</div>
